{% extends "base/base.html" %}
{% load app_templatetags %}
{% block content %}
    <div class="wrapper">
        <header class="main-header">
            <!-- 导航 -->
            {% include "sysBase/navbar_custom_menu.html" %}
        </header>
        <!-- 左侧菜单  -->
        {% include "sysBase/left_index.html" %}


        <!-- 内容部分 -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    直播频道管理
                    <small></small>
                </h1>
{#                <ol class="breadcrumb">#}
{#                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>#}
{#                    <li class="active">节目源</li>#}
{#                </ol>#}
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="box-tools">
                                    <div class="input-group">
                                        <input type="text" id="search" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default btn-sm" onclick="search_name()"><i class="fa fa-search"></i>查询</button>
{% ifequal request.user.userprofile.is_create "0" %}
											<button class="btn btn-primary btn-sm" id="show_add_data" type="button"><li style="color:#ffffff;" class="glyphicon glyphicon-plus"></li>&nbsp;新增直播频道</button>
{% endifequal %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table" style="width:200px; margin: 0px">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
									<td style="padding:5px 0px 5px 5px">
                                        <div class="dropdown">
                                            <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                                全部分组
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/playlist/liveindex/">显示所有</a></li>

                                                {% for row in group %}
                                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/playlist/liveindex/?search={{ row.classname }}">{{ row.classname }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </td>
{% ifequal request.user.userprofile.is_delete "0" %}
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="del_batch('/playlist/dellive')"><li class="glyphicon glyphicon-trash"></li>&nbsp;批量删除</button></td>
{% else %}<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm">&nbsp;直播组频道管理</button></td>
{% endifequal %}
{% ifequal request.user.userprofile.is_modify "0" %}
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="force_batch('/playlist/forcelive')"><li class="glyphicon glyphicon-check"></li>&nbsp;批量维护</button></td>
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="normal_batch('/playlist/normallive')"><li class="glyphicon glyphicon-ok"></li>&nbsp;批量启用</button></td>
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" id="show_relate_data"><li class="glyphicon glyphicon-link"></li>&nbsp;批量关联</button></td>
{% endifequal %}

                                </tr>


                                </tbody>
                            </table>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;vertical-align:middle;" width="45px"><input id="checkAll" type="checkbox" ></th>
                                        <th>频道号</th>
                                        <th>关联ID(自增)</th>
                                        <th>节目名称</th>
										<th>分类名称</th>
										<th>播放地址</th>
										<th>维护图片下载地址</th>
										<th>维护状态</th>
										<th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for node in object_result.object_list %}
                                        <tr id="tr_id_{{ node.id }}">

                                            <td style="text-align: center;vertical-align:middle;"><input id="inputCheckbox{{ node.id }}" type="checkbox" name="checkbox" value="{{ node.id }}" /></td>
                                            <td><span class="badge">{{ node.channelid }}</span></td>
                                            <td>{{ node.id }}</td>
                                            <td>{{ node.playname }}</td>
                                            <td>{{ node.classname }}</td>
                                            <td>{{ node.playaddress }}</td>
                                            <td>{{ node.picurl }}</td>
											{% ifequal node.mstatus '1' %}
                                            <td><font color="green">正常</font></td>
											{% else %}
                                            <td><font color="red">维护中</font></td>
											{% endifequal %}
											<td>
{% ifequal request.user.userprofile.is_delete "0" %}
												<a href="#" onclick="del_user('{{ node.id }}', '/playlist/dellive')"> <li title="删除" class="glyphicon glyphicon-trash"></li></a>&nbsp; 
{% endifequal %}
{% ifequal request.user.userprofile.is_modify "0" %}
												<a onclick="show_md('{{ node.id }}')"> <li title="修改" class="glyphicon glyphicon-cog" style="cursor:pointer"></li></a>&nbsp;
												<a data-toggle="modal" onclick="checkflag('uppic','{{ node.id }}','{{ node.playname}}')" data-target="#show_upfile" class="glyphicon glyphicon-circle-arrow-up" title="上传维护图片"></a>&nbsp;
{% endifequal %}
											</td>
                                        </tr>
                                    {% endfor %}

                                </table>
<div class="modal fade" id="show_upfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-center modal-sm">
  <div class="modal-content">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        &nbsp;<span id="appname2"> 上传文件</span>
    </div>
            <input type="hidden" name="flag" id="upflag"> 
    <div class="modal-body">
    <table class="table" id="data_tb">
    <tr>
        <td><input type='file' name='upfile' id="ss"/></td>
    </tr>
    </table>
    <button class="btn btn-info" type="submit" name="_create" id="sub">提交文件</button>
    </div>

    <div class="modal-footer">
        copyright Joybig
    </div>
</div>
</div>
</div>
                                {% include "sysBase/pagination.html" %}
                            </div><!-- /.box-body -->
                            <div style="height:15px;"></div>
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


            </section><!-- /.content -->



	<div class="modal" id="showSelect" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">批量关联直播组</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 box box-success">
                                    <form id="select_data" class="form-horizontal highlight" role="form"  style="width:800px; margin-top: 10px;"  onsubmit="return false">
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">直播组选择</label>
                                                <div class="col-sm-10">
                                                   <select  name="livegroupid" id="livegroupid" style="height:34px;width:200px">
                                                    {% for row in livegroup %}
                                                     <option value="{{row.id}}">{{row.livegroupname}}</option>
                                                  {% endfor %}
                                                   </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" id="sub_select" class="btn btn-primary btn-sm"><li class="glyphicon glyphicon-plus"></li>&nbsp;确认</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>
						</div>
					  </div>




	<div class="modal" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">直播频道管理</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 box box-success">
                                    <form id="data_tb2" class="form-horizontal highlight" role="form"  style="width:800px; margin-top: 10px;"  onsubmit="return false">

                                            <div class="form-group">
                     							<label for="" class="col-sm-2 control-label">频道号</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="channelid" id="channelid" class="form-control input-sm"  style="width:100px;" check-type="required" required-message="请填写频道号。">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">节目名称</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="playname" id="playname" class="form-control input-sm"  placeholder="节目名称" style="width:300px;" check-type="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">分类名称</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="classname" id="classname" class="form-control input-sm"  placeholder="分类名称" style="width:300px;" check-type="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">播放地址</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="playaddress" id="playaddress" class="form-control input-sm"  style="width:200px;" check-type="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">维护类型</label>
                                                <div class="col-sm-10">
                                                   <select  name="mstatus" id="mstatus" style="height:34px;width:200px">
                                                     <option value="1">正常</option>
                                                     <option value="0">维护中</option>
                                                   </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">维护图片下载地址</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="picurl" id="picurl" class="form-control input-sm" check-type="number"  style="width:200px;" disabled="true ">
                                                </div>
                                            </div>
                                            <input style="display:none;" type="text"  name="action" id="action" value="add">
											<input style="display:none;"  type="text" name="pk" id="pk">

                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" id="sub2" class="btn btn-primary btn-sm"><li class="glyphicon glyphicon-plus"></li>&nbsp;确认</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.content-wrapper -->

        <!-- 工具条切换风格 -->
        {% include "sysBase/sidebar.html" %}
        <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->


{% endblock %}
{% block js_append %}
    <script type="text/javascript">
//         alert(M.get("status"));
         

         var flag;
         var appid;
         var appname;
         $("#sub2").click(function(){
             	var data=$("#data_tb2").Data();
 				var url="/playlist/liveindex/";
 				$.post(url,data,function(d){
                if(d=="ok"){
                  alert("成功!")
                location.reload()
				}else{
                  alert(d);
                }
                })    
		
			});
         function checkflag(str,id,appname){
              flag=str;
              pk=id;
              appname=appname;
              var change={
                 upapp:"上传维护图片",
                 uplogo:"上传缩略图",
                 uppic:"上传详细图",
              }
                $("#appname2").html(appname+"_"+change[flag]);
         }
         $("#sub").click(function(){
            var data=$('#data_tb').Data();
            data.flag=flag;
            data.pk=pk;
            sub(data);
         });
         function sub(param_data){
            var url="/playlist/upmpic";
            $.ajaxFileUpload({
		    url:url,
			secureuri:false,
			data:param_data,
			fileElementId:'ss',
            type:"post",
			dataType:'text',
			success:function(d){
                if(d=="ok"){
                  alert("成功!")
                location.reload()
				}else{
                  alert(d);
                }

			}
	       });
        }
        $("#show_add_data").click(function(){
            $('#showModal [name]').val("");
            $('#action').val('add')
            $('#showModal').modal('show')
        });



        $("#show_relate_data").click(function(){
        //    $('#showSelect [name]').val("");
            $('#showSelect').modal('show')
        });

        function show_md(pk){
            $('#action').val('md')
            $.post('/playlist/show_live_data/', {
                pk:pk,
				table:'liveplaylist'
            }, function (e) {
                var dataObj=eval("("+e+")");
                var fields = ['channelid','playaddress','classname','playname','mstatus','picurl'];
                $.each(fields, function(n,value) {
                    $('#' + value).val(dataObj[0]['fields'][value])
                });
                $("#mstatus option[value="+dataObj[0]['fields']['mstatus']+"]").attr("selected","true");
				$('#pk').val(dataObj[0]['pk'])
                $('#showModal').modal('show')
            });
        }

		function force_batch(url){
			if (!confirm("确认要设置为维护状态？")) {
				return false;
			}

			var chk_value = [];
			$("input[id*='inputCheckbox']:checked").each(function () {
				chk_value.push($(this).val())
			});
			if (chk_value.length != 0) {
				$.post(url, {
					pk: chk_value.join(",")
				}, function (e) {
					if (e == 'ok') {
						window.location.reload();
					} else {
						alert(e)
					}
				});
			}
		}
        var postd="";
        $("#show_relate_data").click(function(){
           var pk="";
           $("input[id*='inputCheckbox']:checked").each(function(){
                     //alert($(this).val())
                   if($(this).val()){
                   pk+=$(this).val()+",";
                   }
           })
 
           var data=$("#select_data").Data();
           data.pk=pk;
           postd=data;
        })
        $("#sub_select").click(function(){
           var url="/playlist/relatelive";
           $.post(url,postd,function(d){
                if(d=="ok"){
                  alert("成功!")
                location.reload()
				}else{
                  alert(d);
                }
           })
         })
		function normal_batch(url){
			if (!confirm("确认要设置恢复状态？")) {
				return false;
			}

			var chk_value = [];
			$("input[id*='inputCheckbox']:checked").each(function () {
				chk_value.push($(this).val())
			});
			if (chk_value.length != 0) {
				$.post(url, {
					pk: chk_value.join(",")
				}, function (e) {
					if (e == 'ok') {
						window.location.reload();
					} else {
						alert(e)
					}
				});
			}
		}

    </script>
{% endblock %}
