{% extends "base/base.html" %}
{% load mini_templatetags %}
{% block content %}
    <div class="wrapper">
        <header class="main-header">
            <!-- 导航 -->
            {% include "sysBase/navbar_custom_menu.html" %}
        </header>
        <!-- 左侧菜单  -->
        {% include "sysBase/left_index.html" %}


        <!-- 内容部分 -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    {{ mac }}关联的授权信息
                    <small>代理商:{{ agency }}</small>
                </h1>
{#                <ol class="breadcrumb">#}
{#                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>#}
{#                    <li class="active">节目源</li>#}
{#                </ol>#}
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <div class="box-tools">
                                    <div class="input-group">
                                        <input type="text" id="search" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default btn-sm" onclick="search_name_auth()"><i class="fa fa-search"></i>查询</button>
{% ifequal request.user.userprofile.is_create "0" %}
											<button class="btn btn-primary btn-sm" id="show_add_data" mac="{{ mac }}" cpuid="{{ cpuid }}" pid="{{ pid }}" type="button"><li style="color:#ffffff;" class="glyphicon glyphicon-plus"></li>&nbsp;新增授权</button>
{% endifequal %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table" style="width:200px; margin: 0px">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
{% ifequal request.user.userprofile.is_delete "0" %}
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="del_batch('/authorization/delauth')"><li class="glyphicon glyphicon-trash"></li>&nbsp;批量删除</button></td>
{% else %}<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm">&nbsp;授权管理</button></td>
{% endifequal %}

                                </tr>


                                </tbody>
                            </table>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;vertical-align:middle;" width="45px"><input id="checkAll" type="checkbox" ></th>
                                        <th>MAC</th>
                                        <th>APPID</th>
                                        <th>关联列表ID</th>
                                        <th>授权时长</th>
										<th>授权开始时间</th>
										<th>授权结束时间</th>
										<th>授权状态</th>
										<th>最后一次鉴权时间</th>
										<th>最后一次鉴权状态</th>
										<th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for node in object_result.object_list reversed%}
                                        <tr id="tr_id_{{ node.id }}">

                                            <td style="text-align: center;vertical-align:middle;"><input id="inputCheckbox{{ node.id }}" type="checkbox" name="checkbox" value="{{ node.id }}" /></td>
                                            <td><span class="badge">{{ mac }}</span></td>
											<td>{{ node.appid }}</td>
                                            <td>{{ node.playid }}</td>
                                            <td>{{ node.autime }}天</td>
                                            <td>{{ node.s_time }}</td>
                                            <td>{{ node.e_time }}</td>
                                            <td>{{ node.austate }}</td>
                                            <td>{{ node.dotime }}</td>
                                            {% ifequal node.dostate '1' %}
                                            <td style="vertical-align:middle"><font color="red">失败</font></td>
                                            {% else %}
                                            <td style="vertical-align:middle"><font color="green">成功</font></td>
                                            {% endifequal %}

											<td>
{% ifequal request.user.userprofile.is_delete "0" %}
												<a href="#" onclick="del_user('{{ node.id }}', '/authorization/delauth')"> <li title="删除" class="glyphicon glyphicon-trash"></li></a>&nbsp; 
{% endifequal %}
{% ifequal request.user.userprofile.is_modify "0" %}
												<a onclick="show_md('{{ node.id }}')"> <li title="修改" class="glyphicon glyphicon-cog" style="cursor:pointer"></li></a>&nbsp;
{% endifequal %}
												<a href="/authorization/accesslog/?pk={{ node.id }}&appid={{ node.appid }}&mac={{ mac }}&{{ 'today'|rrdtool_time }}"> <li title="查看鉴权日志" class="glyphicon glyphicon-list-alt"></li></a>
											</td>
                                        </tr>
                                    {% endfor %}

                                </table>
								<div style="float:right;">
									<select class="form-control input-sm" id="pagesize" style="width:60px;height:28px; margin-top: 5px" onChange="pagesizeSelect(this)">
										<option value="5">5</option>
										<option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option>
										<option value="50">50</option>
										<option value="100">100</option>
									</select>
								</div>

									<ul class="pagination pagination-sm" style="float: right; padding: 0; margin: 0; margin-top: 5px">
										{% if object_result.has_previous %}
											{% if search %}
												<li><a href="?pk={{pid}}&page={{ object_result.previous_page_number }}&pagesize={{ pagesize }}&search={{ search }}">← Previous</a>&nbsp;</li>
											{% else %}
												<li><a href="?pk={{pid}}&page={{ object_result.previous_page_number }}&pagesize={{ pagesize }}">← Previous</a>&nbsp;</li>
											{% endif %}
										{% else %}
											<li class="disabled"><a href="#">← Previous</a>&nbsp;</li>
										{% endif %}
										<!--  <li class="active"><a href="#">1</a></li>-->
										{% for p in page_range %}
											{% ifequal p object_result.number %}
												<li class="active"><a href="?pk={{pid}}&page={{p}}&pagesize={{ pagesize }}" title="第{{p}}页">{{p}}</a></li>
											{% else %}

												{% if search %}
													<li><a href="?pk={{pid}}&page={{p}}&pagesize={{ pagesize }}&search={{ search }}" title="第{{p}}页">{{p}}</a></li>
												{% else %}
													<li><a href="?pk={{pid}}&page={{p}}&pagesize={{ pagesize }}" title="第{{p}}页">{{p}}</a></li>
												{% endif %}

											{% endifequal %}
										{% endfor %}
										{% if object_result.has_next %}
											{% if search %}
												<li><a href="?pk={{pid}}&page={{ object_result.next_page_number }}&pagesize={{ pagesize }}&search={{ search }}" title="下一页">Next →</a>&nbsp;</li>
											{% else %}
												<li><a href="?pk={{pid}}&page={{ object_result.next_page_number }}&pagesize={{ pagesize }}" title="下一页">Next →</a>&nbsp;</li>
											{% endif %}
										{% else %}
											<li class="disabled"><a href="#" title="下一页">Next →</a>&nbsp;</li>
										{% endif %}
									</ul>

                            </div><!-- /.box-body -->
                            <div style="height:15px;"></div>
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


            </section><!-- /.content -->
<div class="modal" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" >
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">授权信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 box box-success">
                                    <form id="data_tb2" class="form-horizontal highlight" role="form"  style="width:800px; margin-top: 10px;"  onsubmit="return false">

                                            <div class="form-group">
                     							<label for="" class="col-sm-2 control-label">APPID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="appid" id="appid" class="form-control input-sm"  style="width:100px;" check-type="required" required-message="请填写APPID。">
                                                    <p class="help-block"><li  class="glyphicon glyphicon-info-sign"></li>&nbsp;APPID必须唯一!</p>
                                                    <input type="text" value="{{ pid }}" name="pid" id="pid"  hidden="hidden">
                                                    <input type="text" value="{{ mac }}" name="mac" id="mac"  hidden="hidden">
                                                    <input type="text" value="{{ cpuid }}" name="cpuid" id="cpuid"  hidden="hidden">
                                                    <input type="text"  name="pk" id="pk"  hidden="hidden">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">列表ID</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="playid" id="playid" class="form-control input-sm"  placeholder="列表ID" style="width:100px;" check-type="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">授权码</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="aucode" id="aucode" class="form-control input-sm"  style="width:200px;" check-type="required" disabled="true ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">授权时长</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="autime" id="autime" class="form-control input-sm"  style="width:200px;" check-type="required">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">授权开始时间</label>
                                                <div class="col-sm-10">
													<input style="width:180px; height:30px;" name="s_time" class="Wdate form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" type="text"  id="s_time" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">授权结束时间</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="e_time" id="e_time" class="form-control input-sm" check-type="required"  style="width:200px;" disabled="true ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-sm-2 control-label">授权状态</label>
                                                <div class="col-sm-10">
                                                    <input type="text" name="austate" id="austate" class="form-control input-sm" check-type="number"  style="width:200px;">
                                                </div>
                                            </div>
                                            <input style="display:none;" type="text"  name="action" id="action" value="add">

                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" id="sub2" class="btn btn-primary btn-sm"><li class="glyphicon glyphicon-plus"></li>&nbsp;确认</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.content-wrapper -->

        <!-- 工具条切换风格 -->
        {% include "sysBase/sidebar.html" %}
        <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->


{% endblock %}
{% block js_append %}
	<script src="/statics/DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script type="text/javascript">
    var status=M.get("pk")?M.get("pk"):0;
    function search_name_auth(){
        var search  = $('#search').val()
        if(status!=0){
          var url="?search="+search+"&pk="+status;
        }else{
          var url="?search=" + search;
        }
        window.location.href = url
    }


         $("#sub2").click(function(){
             	var data=$("#data_tb2").Data();
 				var url="/authorization/authinfo/";
 				$.post(url,data,function(d){
                if(d=="ok"){
                  alert("成功!")
                location.reload()
				}else{
                  alert(d);
                }
                }) 
   
		
			});
        $("#show_add_data").click(function(){
            var mac=$(this).attr("mac");
            var cpuid=$(this).attr("cpuid");
            var pid=$(this).attr("pid");
            $('#showModal [name]').val("");
            $('#action').val('add')
            $('#showModal [name=mac]').val(mac);
            $('#showModal [name=cpuid]').val(cpuid);
            $('#showModal [name=pid]').val(pid);
            $('#showModal').modal('show')
       
        });
        function show_md(pk){
            $('#action').val('md')
            $.post('/authorization/show_au_data/', {
                pk:pk,
				table:'authorization'
            }, function (e) {
                var dataObj=eval("("+e+")");
                var fields = ['appid','playid','aucode','autime','s_time','e_time','austate','dotime','dostate'];
				$('#pk').val(dataObj[0]['pk']);
                $.each(fields, function(n,value) {
                    $('#' + value).val(dataObj[0]['fields'][value])
                });
                $('#showModal').modal('show')
            });
        }

    </script>
{% endblock %}
