<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
{% ifequal request.user.is_staff True %}
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-user"></i> <span>用户组</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">

                    <li {% if '/user/user_index/' == request.path  %}class="active"{% endif  %}><a href="/user/user_index/"><i class="fa fa-angle-double-right"></i> 用户管理</a></li>
                </ul>
            </li>
{% endifequal %}

			<li class="treeview active">
				<a href="#">
					<i class="fa fa-fw fa-briefcase"></i> <span>授权管理</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li {% if '/authorization/checkfile/' == request.path  %}class="active"{% endif  %}><a href="/authorization/checkfile/"><i class="fa fa-angle-double-right"></i> 批量文件授权</a></li>
					<li {% if '/authorization/machineindex/' == request.path  %}class="active"{% endif  %}><a href="/authorization/machineindex/"><i class="fa fa-angle-double-right"></i> 机器信息</a></li>
					<li {% if '/authorization/groupindex/' == request.path  %}class="active"{% endif  %}><a href="/authorization/groupindex/"><i class="fa fa-angle-double-right"></i> 代理商组管理</a></li>
					<li {% if '/authorization/tickerindex/' == request.path  %}class="active"{% endif  %}><a href="/authorization/tickerindex/"><i class="fa fa-angle-double-right"></i> 跑马灯管理</a></li>
					<li {% if '/authorization/pubmsg/' == request.path  %}class="active"{% endif  %}><a href="/authorization/pubmsg/"><i class="fa fa-angle-double-right"></i> 公开消息管理</a></li>
					<li {% if '/authorization/managenew/' == request.path  %}class="active"{% endif  %}><a href="/authorization/managenew/"><i class="fa fa-angle-double-right"></i> 预授权管理</a></li>
				</ul>
			</li>

			<li class="treeview active">
				<a href="#">
					<i class="fa fa-fw fa-folder-open"></i> <span>套餐&APP管理</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li {% if '/authorization/packageindex/' == request.path  %}class="active"{% endif  %}><a href="/authorization/packageindex/"><i class="fa fa-angle-double-right"></i> 套餐管理</a></li>
					<li {% if '/app/appindex/' == request.path  %}class="active"{% endif  %}><a href="/app/appindex/"><i class="fa fa-angle-double-right"></i> APP管理</a></li>
				</ul>
			</li>

			<li class="treeview active">
				<a href="#">
					<i class="fa fa-fw  fa-book"></i> <span>列表管理</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li {% if '/playlist/uplist/' == request.path  %}class="active"{% endif  %}><a href="/playlist/uplist/"><i class="fa fa-angle-double-right"></i> 上传列表</a></li>
					<li {% if '/playlist/livegroupindex/' == request.path  %}class="active"{% endif  %}><a href="/playlist/livegroupindex/"><i class="fa fa-angle-double-right"></i> 直播组管理</a></li>
					<li {% if '/playlist/liveindex/' == request.path  %}class="active"{% endif  %}><a href="/playlist/liveindex/"><i class="fa fa-angle-double-right"></i> 直播频道管理</a></li>
				</ul>
			</li>
        </ul>




    </section>
    <!-- /.sidebar -->
</aside>
