<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-user"></i> <span>用户组</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">

                    <li {% if '/user/user_index/' == request.path  %}class="active"{% endif  %}><a href="/user/user_index/"><i class="fa fa-angle-double-right"></i> 用户管理</a></li>
                    <li {% if '/user/group_index/' == request.path  %}class="active"{% endif  %}><a href="/user/group_index/"><i class="fa fa-angle-double-right"></i> 组管理</a></li>
                </ul>
            </li>

			<li class="treeview active">
				<a href="#">
					<i class="fa fa-fw fa-desktop"></i> <span>列表管理</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li {% if '/base/hostgroup_index/' == request.path  %}class="active"{% endif  %}><a href="/base/hostgroup_index/"><i class="fa fa-angle-double-right"></i> 列表组管理</a></li>
					<li {% if '/base/hostinfo_index/' == request.path  %}class="active"{% endif  %}><a href="/base/hostinfo_index/"><i class="fa fa-angle-double-right"></i> 列表信息</a></li>
				</ul>
			</li>

			<li class="treeview active">
				<a href="#">
					<i class="fa fa-fw fa-desktop"></i> <span>授权管理</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li {% if '/authorization/groupindex/' == request.path  %}class="active"{% endif  %}><a href="/authorization/groupindex/"><i class="fa fa-angle-double-right"></i> 授权组管理</a></li>
					<li {% if '/authorization/checkfile/' == request.path  %}class="active"{% endif  %}><a href="/authorization/checkfile/"><i class="fa fa-angle-double-right"></i> 授权操作</a></li>
				</ul>
			</li>

        </ul>




    </section>
    <!-- /.sidebar -->
</aside>
