{% extends "base/base.html" %}

{% block content %}
    <div class="wrapper">
        <header class="main-header">
            <!-- 导航 -->
            {% include "sysBase/navbar_custom_menu.html" %}
        </header>
        <!-- 左侧菜单  -->
        {% include "sysBase/left_index.html" %}


        <!-- 内容部分 -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    批量开通授权
                    <small>通过文件上传授权</small>
                </h1>
{#                <ol class="breadcrumb">#}
{#                    <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>#}
{#                    <li class="active">节目源</li>#}
{#                </ol>#}
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li id='ok_presentation' role="presentation" class="{% if status == '0' %}active{% endif %}"><a href="/authorization/checkfile/">已处理</a></li>
                            <li id='no_presentation' role="presentation" class="{% if status == '1' %}active{% endif %}"><a href="/authorization/checkfile/?status=1">未处理</a></li>
                        </ul>
                        <div class="box">
                            <div class="box-header">
                                <div class="box-tools">
                                    <div class="input-group">
                                        <input type="text" id="search" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default btn-sm" onclick="search_name_upfile()"><i class="fa fa-search"></i>查询</button>
{% ifequal request.user.userprofile.is_create "0" %}
                                    		<td style="padding:5px 0px 5px 0px"><button data-toggle="modal" data-target="#show_upfile" data-placement="top" class="btn btn-primary btn-sm" id="showupfile" type="button"><li style="color:#ffffff;" class="glyphicon glyphicon-plus"></li>&nbsp;上传文件</button></td>
{% endifequal %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table" style="width:200px; margin: 0px">
                                <thead>
                                </thead>
                                <tbody>
                                <tr>
{% ifequal request.user.userprofile.is_delete "0" %}
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="del_batch('/authorization/delfile')"><li class="glyphicon glyphicon-trash"></li>&nbsp;批量删除</button></td>
{% else %}<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm">&nbsp;批量管理</button></td>
{% endifequal %}
{% ifequal request.user.userprofile.is_modify "0" %}
									<td style="padding:5px 0px 5px 5px"><button type="button" class="btn btn-default btn-sm" onclick="do_batch('/authorization/dofile')"><li class="glyphicon glyphicon-off"></li>&nbsp;批量执行</button></td>
{% endifequal %}


                                </tr>


                                </tbody>
                            </table>
<div class="modal fade" id="show_upfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-center modal-sm">
  <div class="modal-content">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		&nbsp;上传文件    
	</div>

	<div class="modal-body">
	<table class="table" id="data_tb">  
	<tr>  
		<td><input type='file' name='upfile' id="ss"/></td>
	</tr>
	<tr>  
		<td>
			<label for="checkActive" class="control-label">是否直接授权:</label>
			<span><input id="checkActive" type="checkbox" checked="checked" name="_isactive"/>&nbsp;是</span>
		</td>
	</tr>
	</table>
	<button class="btn btn-info" type="submit" name="_create" id="sub">提交文件</button>
	</div>

	<div class="modal-footer">
		copyright Joybig
	</div>
</div>
</div>
</div>
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center;vertical-align:middle;" width="45px"><input id="checkAll" type="checkbox" ></th>
                                        <th>文件名</th>
                                        <th>文件路径</th>
										{% if status == "1" %}
                                          <th>上传时间</th>
										{% else %}
                                          <th>处理时间</th>
										{% endif %}
										<th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for node in object_result.object_list %}
                                        <tr id="tr_id_{{ node.id }}">

                                            <td style="text-align: center;vertical-align:middle;"><input id="inputCheckbox{{ node.id }}" type="checkbox" name="checkbox" value="{{ node.id }}" /></td>
                                            <td><span class="badge">{{ node.filename }}</span></td>
											<td>{{ node.filepath }}</td>
											{% if status == "1" %}
                                              <td>{{ node.createtime }}</td>
											{% else %}
                                              <td>{{ node.dotime }}</td>
											{% endif %}
										<td>
{% ifequal request.user.userprofile.is_delete "0" %}
											<a href="#" onclick="del_user('{{ node.id }}', '/authorization/delfile')"> <li title="删除" class="glyphicon glyphicon-trash"></li></a>&nbsp;
{% endifequal %}
{% ifequal request.user.userprofile.is_modify "0" %}
											 <a onclick="do_file('{{ node.id }}','/authorization/dofile')" style="cursor:pointer"> <li class="glyphicon glyphicon-off"  title="重新执行" ></li></a>
{% endifequal %}
										</td>
                                        </tr>
                                    {% endfor %}

                                </table>
                                {% include "sysBase/pagination.html" %}
                            </div><!-- /.box-body -->
                            <div style="height:15px;"></div>
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->


            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        <!-- 工具条切换风格 -->
        {% include "sysBase/sidebar.html" %}
        <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->


{% endblock %}
{% block js_append %}
    <script type="text/javascript">
//         alert(M.get("status"));

         $("#sub").click(function(){
            var data=$('#data_tb').Data();
            sub(data);
         });
         function sub(param_data){
            var url="/authorization/upfile";
            $.ajaxFileUpload({
		    url:url,
			secureuri:false,
			data:param_data,
			fileElementId:'ss',
            type:"post",
			dataType:'text',
			success:function(d){
                console.log(d);
                if(d=="do_ok"){
                  alert("上传并执行成功!")
                location.reload()
                } else if(d=="up_ok") {
				  alert("上传成功!")
                location.reload()
                } else if(d=="uptype_wrong") {
				  alert("请不要上传奇怪格式的文件!")
				}else{
                  alert("上传失败!");
                }

			}
	       });
        }
    var status=M.get("status")?M.get("status"):0;
	function search_name_upfile(){
		var search  = $('#search').val()
//		window.location.href = "?search=" + search;
        if(status!=0){
          var url="?search="+search+"&status="+status;
        }else{
          var url="?search=" + search;
        }
		window.location.href = url
	}

	function do_file(id, url){
		if (!confirm("确认要执行？")) {
			return false;
		}
		$.post(url, {
			pk: id
		}, function (e) {
			if (e == 'ok') {
				alert("执行成功！")
				window.location.reload();
			} else {
				alert(e)
			}
		});
	}

	function do_batch(url){
		if (!confirm("确认要执行？")) {
			return false;
		}

		var chk_value = [];
		$("input[id*='inputCheckbox']:checked").each(function () {
			chk_value.push($(this).val())
		});
		if (chk_value.length != 0) {
			$.post(url, {
				pk: chk_value.join(",")
			}, function (e) {
				if (e == 'ok') {
					alert("执行成功！")
					window.location.reload();
				} else {
					alert(e)
				}
			});
		}
	}

    </script>
{% endblock %}
